* {
    padding: 0;
    margin: 0;
}
p{
  font-size: 15px;
}

.badge-primary{
  font-size: 19px;
  background-color: #0ca84a !important;
}

.signature {
  width: 187px;
  border-top: 1px solid;
}

#invoice{
    padding: 30px;
}

.bg-grey{
  background: #ddd !important;
}

.bg-blue{
  background: #0ca84a !important;
}

.text-blue{
  color: #0ca84a;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    padding: 15px
}

.invoice header {
    padding: 10px 0;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #3989c6 */
}

.invoice .company-details {
    text-align: right
}

.invoice .company-details .name {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .contacts {
    margin-bottom: 20px;
    /* margin-top: 4rem; */
}

.invoice .invoice-to {
    text-align: left
}

.invoice .invoice-to .to {
    margin-top: 0;
    margin-bottom: 0
}

.invoice .invoice-details {
    text-align: left;
}

.invoice .invoice-details .invoice-id {
    margin-top: 0;
    color: #0ca84a
}

.invoice main {
    padding-bottom: 50px
}

.invoice main .thanks {
    margin-top: -150px;
    font-size: 2em;
    margin-bottom: 50px
}

.invoice main .notices {
    padding-left: 6px;
    border-left: 6px solid #0ca84a
}

.invoice main .notices .notice {
    font-size: 1.2em
}

.invoice table {
    width: 93%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.invoice table td,.invoice table th {
    padding: 15px;
    background: #eee;
    border-bottom: 1px solid #fff
}

.invoice table th {
    padding: 15px;
    background-color: #212529 !important;
    color: white;
    font-weight: bold !important;
}

.invoice table th {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px
}

.invoice table td h3 {
    margin: 0;
    font-weight: 400;
    color: #0ca84a;
    font-size: 1.2em
}

.invoice table .qty,.invoice table .total,.invoice table .unit {
    text-align: right;
    font-size: 1.2em
}

.invoice table .no {
    color: #fff;
    font-size: 1.6em;
    background: #0ca84a
}

.invoice table .unit  {
    background: #ddd
}

.invoice table .price  {
    background: #ddd
}


.invoice table .total {
    background: #0ca84a;
    color: #fff
}

.invoice table tbody tr:last-child td {
    border: none
}
.invoice table tbody tr:nth-child(even) td {
    background-color: #ddd;
}
.invoice table tbody tr:nth-child(odd) td {
    background-color: #fff;
}

.invoice table tfoot td {
    background: 0 0;
    border-bottom: none;
    white-space: nowrap;
    text-align: right;
    padding: 10px 20px;
    font-size: 1.2em;
    border-top: 1px solid #aaa
}

.invoice table tfoot tr:first-child td {
    border-top: none
}

.invoice table tfoot tr:last-child td {
    color: #0ca84a;
    font-size: 1.4em;
    border-top: 1px solid #0ca84a
}

.invoice table tfoot tr td:first-child {
    border: none
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0
}

@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

    .invoice>div:last-child {
        page-break-before: always
    }
}

.blue-bg{
  /* background-color: #4ca1ea; */
  background-color: #0ca84a !important;
}
.invoice .bar {
    height: 40px;
    width: 89%;
    background-color: #0ca84a;
    padding-bottom: 10px;
    position: absolute;

}
.bar-second {
    height: 40px;
    width: 103%;
    background-color: #0ca84a;
    /* padding-bottom: 10px; */
    position: absolute;
    right: 23px;
}
.mt {
    margin-top: 19rem;
}

.invoice .heading{
    background-color: transparent !important; 
    display:inline-block; 
    /* padding:0rem 22rem; */
    /* padding: 0px 88px; */
    /* z-index: 1; */
    /* position: absolute; */
    margin-left: -3rem;
}
/* header  */

@media only screen and  (max-width:1199px ) {
    .invoice .bar {
        width: 90%;
        height: 40px;
    }
    .bar-second {
        width: 100%;
        height: 40px;
    }
}

@media only screen and (max-width:991px) {
    .invoice .bar {
        width: 87%;
        height: 40px;
    }
    .bar-second {
        width: 64%; 
        height: 40px;
    }
}
@media only screen and (max-width:767px) {
    .invoice .bar {
        width: 71%;
        height: 40px;
    }
    .bar-second {
        width: 118%; 
        height: 40px;
    }
    .invoice .heading {
        margin-left: -7rem;
    }
}
.text-right
{
    text-align: right;
}
.text-left
{
    text-align: left;
}
.total-text
{
    padding-left: 25px;
}
.total-responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 10rem;
}   
.total-col {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-whatsapp {
    font-size: 13px; 
    padding: 5px;
}
.icon-envelope {
    font-size: 14px; 
    padding: 5px;
    margin-top: 5px;
}
.text-envelope {
    padding-left: 2px;
}
.icon-marker {
    margin-top: 5px;  
    font-size: 14px;  
    padding: 5px;
}
.text-white {
    color: white;
}
.bg-color {
    background-color: #0ca84a !important;
}
.bg-progress {
    background-color: #212529 !important;
}
.progress-style {
    height: 50px !important; 
    border-radius: 0px 50px 0px 0px !important;
}
.text-font {
    font-size: 18px;
}
.text-justify {
    text-align: justify;
}