@model IEnumerable<MangoERP.Models.StockLog>

@{
    ViewBag.Title = "Index";
}


<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <table class="table" id="table1">
                                <thead>
                                    <tr>
                                        <th>
                                            Material Id
                                        </th>
                                        <th>
                                            Material Name
                                        </th>

                                        <th>
                                           Stock
                                        </th>
                                        
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaterailId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaterailName)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.StockIn)
                                            </td>
                                         
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
    {
    <script type="text/javascript">



                                        $(document).ready(function () {
                                            $('#table1').DataTable();

                                        });
    </script>
}
