@model IEnumerable<MangoERP.Models.Customer>

@{
    ViewBag.Title = "Index";
}


<div class="content-body">
    <section id="striped-row-form-layouts">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content collpase show">
                        <div class="card-body">
                            <table class="table" id="table1">
                                <thead>
                                    <tr>
                                        <th>
                                            Booked By
                                        </th>
                                        <th>
                                            Deceased By
                                        </th>

                                        <th>
                                           Grave Name
                                        </th>
                                        <th>
                                            Booking Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@{
                                                string data = item.first_name + " " + item.last_name;
                                            }
                                               @data
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Deceased.DeceasedPerson)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.GraveDetail.Grave.Grave_Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GraveDetail.OrderDate)
                                            </td>
                                            
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts
    {
    <script type="text/javascript">



                                        $(document).ready(function () {
                                            $('#table1').DataTable();

                                        });
    </script>
}
